.gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; 
  }
  
  .gif-image {
    width: 337px; /* Equivalent to w-64 */
    height: 450px; /* Equivalent to h-64 */
    border-radius: 16px; /* Equivalent to rounded-2xl */
    object-fit: cover;
    margin-right: 20vh;
  }

  .fsec-container{
    display: block;
    justify-self: auto;
    /* align-items: center;
    justify-content: center; */
  }
  .fl-image {
    width: 337px; /* Equivalent to w-64 */
    height: 150px; /* Equivalent to h-64 */
    border-radius: 16px; /* Equivalent to rounded-2xl */
    object-fit: cover;
  }

  .editortext-cont {
    width: 40%;
    /* height: 160px;  */
    align-items: right;
    justify-content: center;
    font-size: 7vw; /* Adjusts based on screen size */
    font-weight: bold;
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  