@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Caveat:wght@400;700&display=swap');

body {
    font-family: 'Caveat', cursive; /* Example usage */
}

.textAnimation{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
    display: flex;
    /* height: 100vh; */
    align-items: center;
    height: 10vh;
    margin-top: 45vh;
    /* padding: 20px; */
    justify-content: space-between;

  }
  
  .image-container {
    margin-left: 7vw;
    width: 30%;
    margin-bottom: 65vh;
  }

  .kazha{
    width: fit-content;
    margin-top: 11vh;

  }

  .block{
    display: block;
  }

  .bg{
    background: linear-gradient(to bottom, #9fff7c, #589f43);
    height: 20vh;
    /* width: 100vw; */
  }
  
  .image {
    width: 100%;

    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .text-container {
    width: 70%;
    padding-right: 10vw;
    text-align: right;
  }
  
  .text {
    font-size: 18px;
    margin-bottom: 70vh;
    color: #4a4a4a;
    width: 60%;
    text-align: left;
    display: flex;
    float: right;
  }
  
  